* {
    font-family: 'Roboto', sans-serif;
}

.logo img {
    width: 100px;
}

body {
    height: 100vh;
}

header {
    flex-basis: 0;
    background-color: rgb(36, 36, 36);
}

main {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 76, 76);
}

footer {
    flex-basis: 0;
    background-color: rgb(36, 36, 36);
}

footer a {
    color: #FFF;
    text-decoration: none;
}

.btns {
    font-size: 1.5rem;
}

.btns input,
.btns select {
    border-radius: 1.5rem;
    background-color: white;
    color: black;
}

.btns select {
    padding: 0.5rem 1.5rem;
}

.btns input {
    padding: 0.25rem 3rem;
}

#statusImg {
    width: 100px;
    display: none;
}

.tableContainer {
    display: grid;
}

.square {
    aspect-ratio: 1;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    background-color: grey;
}

.square.clicked {
    background-color: green;
}

.square.clicked.bomb {
    background-color: tomato;
}