.logo img {
    width: 100px;
}

body {
    height: 100vh;
}

header {
    flex-basis: 0;
}

main {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    flex-basis: 0;
}

footer a {
    color: #000;
    text-decoration: none;
}

#statusImg {
    width: 100px;
    display: none;
}

.tableContainer {
    display: grid;
}

.square {
    aspect-ratio: 1;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.square.clicked {
    background-color: green;
}

.square.clicked.bomb {
    background-color: tomato;
}